<h1>My Files</h1>
<%= link_to 'Upload New File', new_file_upload_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>File Type</th>
      <th>File</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @files.each do |file| %>
      <tr>
        <td><%= file.title %></td>
        <td><%= file.description %></td>
        <td><%= file.file.content_type %></td>
        <td><%= link_to "Download", rails_blob_path(file.file, disposition: "attachment"), target: "_blank" %></td>
        <td><%= link_to "View File", rails_blob_url(file.file), target: "_blank", class: "btn btn-info btn-sm" %></td>
        <td>
          <%= button_to 'Delete', file_upload_path(file), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          <% if file.public_url.present? %>
            <div class="d-flex align-items-center">
              <%= link_to "Public Link", file.get_public_url, target: "_blank", class: "btn btn-primary btn-sm mr-2" %>
              <button class="btn btn-info btn-sm" onclick="copyToClipboard('<%= file.get_public_url %>', this)">Copy</button>
            </div>
          <% else %>
            <%= button_to 'Generate Public Link', generate_public_url_file_upload_path(file), method: :post, class: "btn btn-secondary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  function copyToClipboard(text, button) {
    navigator.clipboard.writeText(text).then(() => {
      button.innerText = "Copied!";
      button.classList.remove("btn-info");
      button.classList.add("btn-success");

      setTimeout(() => {
        button.innerText = "Copy";
        button.classList.remove("btn-success");
        button.classList.add("btn-info");
      }, 2000);
    }).catch(err => {
      console.error("Failed to copy: ", err);
    });
  }
</script>
